[Desktop Entry]
Type=Application
Name=TeamCAMSScriptEditor
Comment=TeamCAMS Script Editor
Exec=TeamCAMSScriptEditor
Icon=TeamCAMSScriptEditor
Categories=Utility;
Terminal=false
